@font-face {
  font-family: 'simpsonfontregular';
  src: url('simpsonfont_demo-webfont.woff2') format('woff2'),
       url('simpsonfont_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-family: 'simpsonfontregular';
  font-size: 40px;
  color:darkgoldenrod;
  margin: 10px;
  text-align: center;
}

h2{
  font-size: 20px;
  color:darkslategrey;
  margin: 5px;
  margin-bottom: 10px;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
  --hue-neutral: 200;
  --hue-error: 0;
  --hue-correcto: 145;
}

body {
  background-image:url("../img/donut.png");
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correcto {
  --hue: var(--hue-correcto);
}

body.error {
  --hue: var(--hue-error);
}

.cont {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
  cursor: pointer;
}

.btn.correcto {
  --hue: var(--hue-correcto);
  color: black;
}

.btn.error {
  --hue: var(--hue-error);
}

.empezar-btn, .sig-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

