h1 {
    font:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:brown
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*#principal {
    background-color: burlywood;
}*/

body{
    background-color:burlywood;
}